<main class="container mt-5">
  <h1 class="mb-4 text-dark">Bienvenido a Encontradogs</h1>
  <form class="pet-login-form">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="username-pet-login"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password-pet-login"
        placeholder="Ingresa tu Contraseña"
      />
    </div>
    <button type="submit" class="btn btn-warning">¡Ingresa!</button>
  </form>
</main>
