<main class="container mt-5">

  <h1 class="text-dark w-1/3 px-4 py-2 mb-8 bg-teal-900 text-white rounded-md shadow-[3px_3px_0px_3px_#73ac31,10px_10px_0px_3px_#bdff73]">Bienvenido a Encontradogs</h1>
  <form class="hearthstone-login-form">

    <div class="mb-3">
      <label for="username" class="form-label ">Usuario</label>
      <input
        type="text"

        class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500"
        id="username-hearthstone-login"

        placeholder="Nombre de usuario"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label form-label">Contraseña</label>
      <input
        type="password"
        class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500"
        id="password-hearthstone-login"

        placeholder="Ingresa tu Contraseña"
      />
    </div>
    <button type="submit" class="btn btn-warning w-1/3 px-4 py-2 mb-4 bg-teal-900 text-white border-white border-2 rounded-md hover:bg-yellow-600">¡Ingresa!</button>
  </form>
</main>
