<main class="container mt-5">
  <form class="new-pet-post-form mb-3" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Titulo</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="title-new-pet-post" placeholder="Titulo">
    </div>
    <div class="mb-3">
      <label for="content-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Contenido</label>
      <textarea class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="content-new-pet-post" rows="3" placeholder="Tu reporte completo"></textarea>
    </div>
    <div class="mb-3">
      <label for="category-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Categoría</label>
      <select id="category-new-pet-post" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500">
        <option value="gato">Gato</option>
        <option value="perro">Perro</option>
        <option value="otros">Otros</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="size-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Tamaño</label>
      <select id="size-new-pet-post" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500">
        <option value="small">Pequeño</option>
        <option value="medium">Mediano</option>
        <option value="large">Grande</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="color-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Color</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="color-new-pet-post" placeholder="Color(es)">
    </div>
    <div class="mb-3">
      <label for="breed-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Raza</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="breed-new-pet-post" placeholder="Raza o tipo de la mascota perdida">
    </div>
    <div class="mb-3">
      <label for="location-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Ubicación</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="location-new-pet-post" placeholder="Indica la ubicación de donde quieras hacer el reporte en el mapa">
    </div>
    <div class="mb-3">
      <label for="time-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Hora</label>
      <input type="text" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="time-new-pet-post" placeholder="Indica la hora de tu reporte">
    </div>
    <div class="mb-3">
      <label for="image-new-pet-post" class="form-label w-1/4 px-2 py-1 mb-4 bg-teal-900 text-white font-bold rounded-md shadow-[1px_1px_0px_1px_#73ac31,5px_5px_0px_2px_#bdff73]">Sube una imagen</label>
      <input type="file" class="form-control w-5/6 px-3 py-2  rounded-md border-teal-900 border-2 focus:outline-none focus:border-yellow-500" id="image-new-pet-post" name="file" accept="image/*">
      <!-- Hidden input field to store the uploaded image URL -->
      <input type="hidden" id="image-url" name="image-url">
    </div>

    <button type="submit" class="btn mx-auto px-4 py-2 bg-lime-700 text-white rounded-r-md focus:border-yellow-500 btn-warning">Reportar</button>
  </form>
</main>
