
.leaflet-container {
  height: 45vh;
  width: 90vh;
  max-width: 75%;
  max-height: 50%;
}

.post-container {
    transition: background-color 0.3s;
  }

.bg-color-01 {
  background-color: #62d5b4;
}

.S01 {
  box-shadow: 5px 5px rgba(0, 98, 90, 0.4), 10px 10px rgba(0, 98, 90, 0.3), 15px 15px rgba(0, 98, 90, 0.2), 20px 20px rgba(0, 98, 90, 0.1), 25px 25px rgba(0, 98, 90, 0.05);
}
 
.petCard-img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.petCard-body {
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px 10px 22px;
  position: relative;
  text-align: center;
}
