.glass-container {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo con mayor transparencia */
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 10%, transparent 50%, rgba(255, 255, 255, 0.15) 90%); /* Degradado para simular vidrio */
    border-radius: 10px;
    backdrop-filter: blur(15px); /* Aplicando el efecto de vidrio con mayor desenfoque */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el efecto */
  }

  .background{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg,red,blue,orange,black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 30s ease-in-out infinite;
    
}